<div id="add-profession" class="ui small modal">
    <div class="header">Add Profession</div>
    <div class="content">
        <div class="ui left action input">
            <button class="ui blue button">
                    Name
                </button>
            <input type="text" placeholder="e.g. Nurse">
        </div>
        <br><br>
        <div class="ui left action input">
            <button class="ui blue button">
                    Create Caders
                </button>
            <input type="text" placeholder="e.g. Senior Consultant">
        </div>
        <br>
        <div class=""></div>
        <span>please enter when to create</span>
    </div>
    <div class="actions">
        <button class="ui blue button">Add</button>
    </div>
</div>