<header>
    <div class="ui secondary pointing menu">
        <a class="item active">
            <img src="assets/APMIS-LOGO.png"> &nbsp; Management Portal
        </a>
        <div class="right menu">
        </div>
    </div>
</header>
<aside>
    <div class="ui sidemenu secondary vertical pointing menu">
        <a class="item" [routerLink]="profession" routerLinkActive="active">
            <i class="angle right icon"></i>Profession
        </a>
        <a class="item">
            <i class="angle right icon"></i>Investigation
        </a>
    </div>
</aside>
<main>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</main>
<div class="ui modal basic">
    <div class="header" style="text-align: center">
        <i class="massive icon trash"></i><br> Delete Item
    </div>
    <div class="content" style="text-align: center">
        Are you sure you want to delete this item
    </div>
    <div class="actions">
        <div class="ui approve button">Yes</div>
        <div class="ui deny button">No</div>
    </div>
</div>