/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body {
    background-color: #eeeeee;
}

.white {
    color: #fff;
}

.my-card {
    background: white;
}

.page-content {
    margin-top: 20px;
}

.box {
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #FCFCFC;
    box-shadow: 0 5px 10px 0 rgba(154, 164, 175, 0.1);
    transition: 0.2s;
    color: #222;
}

.box:hover {
    z-index: 100;
    background-color: #6c6cff;
    transform: scale(1.03);
    cursor: pointer;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(154, 164, 175, 0.4);
}

.title {
    font-weight: 900;
}

.tag {
    font-weight: 900;
    opacity: 0.4;
    text-align: right;
}

.thin {
    font-weight: 100;
}

h2.title {
    font-weight: 100;
    font-size: 24px;
}