<div class="page-content">
    <h1>Profession</h1>
    <hr>
    <summary></summary>
    <!-- <hr> -->
    <h5>List of Professions</h5>
    <div class="row">
        <div class="col-lg-3">
            <div class="ui button blue big">
                Doctor&nbsp; | &nbsp;22 Caders
            </div>
        </div>
        <div class="col-lg-3">
            <a (click)="addProfessionView()" class="ui blue labeled icon small button">
                <i class="icon add"></i> ADD
            </a>
        </div>
    </div>
</div>
<add-profession></add-profession>