<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-lg-10 title">Professions
            </h2>
            <a (click)="addProfessionView()" class="col-lg-2 box">
                <i class="icon add"></i> Add Profession
            </a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let profession of professions" class="col-lg-4">
            <div class="box">
                <div class="row">
                    <div class="col-sm-9 title">{{profession.name | titlecase}}</div>
                    <div class="col-sm-3 tag">{{profession.caders.length}} Caders</div>
                </div>
            </div>
        </div>
    </div>
</div>
<add-profession></add-profession>